.home {
    background-color: rgb(220, 220, 220);
    .home-hero {
        width: 100%;
        max-height: 300px;
        margin-bottom: 30px;

        img {
            width: 100%;
            max-height: 300px;
            object-fit: cover;
        }
    }

    .items-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 5px;

        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                border-inline-start: 3px solid orangered;
                padding-inline-start: 5px;
            }
        }

        .cart-info {
            display: flex;
            gap: 10px;
        }
    }
}