.item-preview {
    padding: 10px;
    background-color: white;
    height: 100%;
    border-radius: 0.5em;

    .card {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: space-between;
        height: 100%;
       

        .add-to-cart {
            background-color: var(--clr-black);
            color: white;
            padding: 5px;
            width: fit-content;
            border-radius: 0.3em;
        }
        
        .price {
            color: var(--clr-main);
        }

        img {
            width: 200px;
            object-fit: cover;
        }
    }
}
